<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Practica 3 - Sistemas Legados</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Practica 3 SL </div>
      <div class="list-group list-group-flush">
		<a href="/" class="list-group-item list-group-item-action bg-light">Inicio</a>
		<a href="#" class="list-group-item list-group-item-action bg-light">Acerca de</a>
		<a href="http://webdiis.unizar.es/asignaturas/SL/" class="list-group-item list-group-item-action bg-light">Web de la asignatura</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Integrantes del grupo
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Sergio Torres - 738233</a>
				        <a class="dropdown-item" href="#">Eduardo Mindán - </a>
                <a class="dropdown-item" href="#">Víctor Pérez - </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">Acerca de</h1>
        <p>Página web hecha por Sergio Torres, Eduardo Mindán y Víctor Pérez.</p>
        <p>Implementación de la práctica 3 de la asignatura de Sistemas Legados de la carrera de Ingeniería Informática en la Universidad de Zaragoza.</p>
        <p>El objetico de esta práctica es implementar una página Web que, con la ayuda de un wrapper que genere la entrada y analice la
          salida, acceda a una aplicación legada BASIC/MS-DOS con interfaz de texto.</p>
        <p>La funcionalidad de la aplicación web es la siguiente:</p>
          <ul>
            <li>Visualizar en todo momento el número de registros del sistema legado</li>
            <li>Dado el nombre de un programa, listar sus datos</li>
            <li>Dado el identificador de una cinta (A-Z, 0-n), listar los programas que contiene en el orden en que
              se encuentran grabados. NOTA: un programa puede estar en más de una cinta (ej., para un
              programa que esté en la cinta A y en la 45 --> cinta=“A-45”)</li>
          </ul>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
